/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #273343;
    color: #f1ebeb;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    padding: 0;
}

button {
    padding: 10px 20px;
    border: none;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.normal {
    background-color: #75a9ed;
    color: #f1ebeb;
    transition: transform 0.2s ease;
}

.normal:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.solucion {
    margin: 20px;
    text-align: center;
}

#historial {
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    max-width: 600px;
    text-align: left;
    font-size: 14px;
}
