button {
    padding: 10px 20px;
    border: none;
    margin: 5px;
    border-radius: 50px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.normal {
    background-color: #2170d8;
    color: #f1ebeb;
}

.normal:hover {
    cursor: pointer;
    transform: scale(1.1);
}