.circulos {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #f1ebeb;
    color: #008547;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: 2px solid #008547;
}
button{
    padding: 10px 20px 10px 20px;
    border: none;
    margin: 5px;
    border-radius: 5px;
}
.normal{
    background-color: #008547;
    color: #f1ebeb;
}
.normal:hover{
    cursor: pointer;
    transform: scale(1.1);
}