body {
  background-color: #f2f2f2;
  text-align: center;
  font-family: Arial;
}
body h1 {
  font-size: 2rem;
  color: #3498db;
}
body p {
  font-size: 1.2rem;
  color: #555;
}
body button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  transition: background-color 0.3s ease;
}
body .product {
  background-color: white;
  border: 1px solid;
  border-radius: 5px;
  margin: 10px;
}
body .product:hover {
  box-shadow: 0 2px 5px rgb(0, 0, 1);
}
body img {
  max-width: 100%;
}
body h3 {
  font-size: 1.5rem;
}
body .important-tex {
  font-weight: bold;
  color: #e74c3c;
}

.primary-button {
  background-color: #3498db;
}
.primary-button:hover {
  background-color: #217dbb;
}

.secondary-button {
  background-color: #2ecc71;
}
.secondary-button:hover {
  background-color: #25a25a;
}

.buy-button {
  background-color: #f39c12;
}
.buy-button:hover {
  background-color: #c87f0a;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centered :not(:last-child) {
  margin-right: 20px;
}

.contenedorFormulario{
  display: flex;
  justify-content: center;
  width: 30%;
  input{
    float: right;
  }
  
}