/* HEADER */
header { 
    align-items: center;
    padding: 20px;
    background-color: #273343;
    color: #f1ebeb;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}
button{
    padding: 10px 20px 10px 20px;
    border: none;
    margin: 5px;
    border-radius: 5px;
}
.normal{
    background-color: #75a9ed;
    color: #f1ebeb;
}
.normal:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.solucion{
    margin: 20px;
}
p{
    color: red;
    font-size: 19px;
}